{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BeatStudio</title>
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="https://unpkg.com/@wavesurfer/regions/dist/wavesurfer.regions.min.js"></script>
  <link rel="stylesheet" href="{% static 'audio_editor/homecss/style.css' %}">
  {% block css %}{% endblock %}
  <!-- <script src="{% static 'audio_editor/scripts/trim.js' %}"></script> -->
</head>
<body>
  <div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <img src="{% static 'audio_editor/images/logo.jpg' %}" alt="Profile" class="sidebar-profile-pic">
      {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
      {% else %}
        <span>Guest</span>
      {% endif %}
      <button class="close-btn" id="closeSidebar">&times;</button>
    </div>
    <nav class="sidebar-nav">
      <!-- <a href="#">Upload</a>
      <a href="#">Your Uploads</a> -->
      <a href="{% url 'downloads_list' %}">Downloads</a>
      <a href="{% url 'edit_page' %}">Edit</a>
      <!-- <a href="#">Play</a> -->
      <a href="{% url 'visualize' %}">Visualize</a>
    </nav>
  </div>

  <div class="overlay" id="overlay"></div>

  <!-- Navigation Bar -->
  <div class="navbar">
    <div class="nav-left">
      <button class="menu-btn" id="openSidebar">⋮</button>
      <div class="logo">
        🎵 <span>BeatStudio</span>
      </div>
    </div>
    <div class="nav-links">
      {% if request.path != '/' %}  <!-- Check if not on the main page -->
        <a href="{% url 'editor-home' %}">Home</a>
      {% endif %}
      {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" id="logout-form">
          {% csrf_token %}
          <a href="javascript:void(0);" onclick="document.getElementById('logout-form').submit();">Logout</a>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
      
    </div>
  </div>
  {% block content %}{% endblock %}

  <footer>
    <p>© 2025 BeatStudio | <a href="#">Contact</a> | <a href="#">Settings</a></p>
  </footer>
  <script src="{% static 'audio_editor/scripts/homejs.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>