{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BeatStudio</title>
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="https://unpkg.com/@wavesurfer/regions/dist/wavesurfer.regions.min.js"></script>
  <link rel="stylesheet" href="{% static 'audio_editor/homecss/style.css' %}">
  <script src="{% static 'audio_editor/scripts/homejs.js' %}"></script>
  <!-- <script src="{% static 'audio_editor/scripts/trim.js' %}"></script> -->
</head>
<body>
  <div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <img src="{% static 'audio_editor/images/logo.jpg' %}" alt="Profile" class="sidebar-profile-pic">
      <span>User Name</span>
      <button class="close-btn" id="closeSidebar">&times;</button>
    </div>
    <nav class="sidebar-nav">
      <a href="#">Upload</a>
      <a href="#">Your Uploads</a>
      <a href="#">Downloads</a>
      <a href="#">Edit</a>
      <a href="play.html">Play</a>
      <a href="#">Visualize</a>
    </nav>
  </div>

  <div class="overlay" id="overlay"></div>

  <!-- Navigation Bar -->
  <div class="navbar">
    <div class="nav-left">
      <button class="menu-btn" id="openSidebar">⋮</button>
      <div class="logo">
        🎵 <span>BeatStudio</span>
      </div>
    </div>
    <div class="nav-links">
      <a href="#">Login</a>
      <a href="#">Register</a>
    </div>
  </div>
  {% block content%}{% endblock %}
  {% block scripts %}{% endblock %}
  <footer>
    <p>© 2025 BeatStudio | <a href="#">Contact</a> | <a href="#">Settings</a></p>
  </footer>
</body>
</html>