{% extends "audio_editor/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'audio_editor/homecss/downloads.css' %}">
{% endblock %}

{% block content %}
  <h2 class="downloads-heading">Your Downloads</h2>

  {% if downloads %}
    <div class="download-list">
      {% for audio in downloads %}
      <div class="download-card" id="audio-{{ audio.id }}">
        <div class="download-filename">{{ audio.file_name }}</div>
        <div class="waveform-container">
          <button id="playBtn-{{ audio.id }}" class="play-button" onclick="togglePlay('{{ audio.id }}')">▶</button>
          <div id="waveform-{{ audio.id }}" class="waveform-preview" 
              data-audio-id="{{ audio.id }}" 
              data-audio-url="{{ audio.file_path.url }}">
          </div>
        </div>
        <div class="download-footer">
            <span class="download-time">{{ audio.created_at|date:"Y-m-d H:i" }}</span>
            <div class="download-actions">
              <a href="{{ audio.file_path.url }}" download class="download-button">⬇ Download</a>
              <!-- <a href="{% url 'edit_page' %}?file_url={{ audio.file_path.url }}" class="edit-button">✏ Edit</a> -->
              <button class="delete-button" onclick="deleteClip('audio-{{ audio.id }}', '{{ audio.id }}')">🗑 Delete</button>
            </div>
          </div>
      </div>      
      {% endfor %}
    </div>
  {% else %}
    <p>No downloads yet.</p>
  {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/wavesurfer.js@7"></script>
    <script src="{% static 'audio_editor/scripts/downloads.js' %}"></script>
{% endblock %}