{% extends "audio_editor/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'audio_editor/homecss/downloads.css' %}">
{% endblock %}

{% block content %}
  <h2 class="downloads-heading">Your Downloads</h2>

  {% if downloads %}
    <div class="download-list">
      {% for audio in downloads %}
        <div class="download-card">
          <div class="download-filename">{{ audio.file_name }}</div>
          <div class="download-audio">
            <audio controls src="{{ audio.file_path.url }}"></audio>
          </div>
          <div class="download-footer">
            <span class="download-time">{{ audio.created_at|date:"Y-m-d H:i" }}</span>
            <a href="{{ audio.file_path.url }}" download class="download-button">
              ⬇ Download
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No downloads yet.</p>
  {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}